@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$font-family: 'Poppins', sans-serif;
$font-size: 18px;

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: $font-family;
    font-size: $font-size;
    margin:0;
}
nav{
    position: fixed;
    bottom:5rem;
    left:50%;
    ul{
        margin:0;
        padding:0;
        list-style: none;
        position: absolute;
        bottom:0;
        left:-50px;
        li{
            position: absolute;
            bottom:0;
            left:0;
            background-color: red;
            width: 100px;
            height:100px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 1s cubic-bezier(.47,1.64,.41,.8);
        }
        li:first-child{
            z-index: 9;
        }
       .left{
            left:-8rem;
            bottom:8rem;
            background-color: blue;
        }
        .middle{
            left:0rem;
            bottom:10rem;
            background-color: yellow;
        }
        .right{
            left:8rem;
            bottom:8rem;
            background-color: orange;
        }
    }
}